.noIdeaMode * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}



#thefile {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    color: wheat;
    margin-top: 35px;
  }
  
  #canvas {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 100%;
  }
  
  audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
  }


  input{
    border: 0px solid #fff;
    background-color: #000; 
  }

  nav {
    overflow: hidden;
    background-color: #202124;
    z-index: 99;
    width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    min-width: 375px;
    height: 40px;
}

nav a {
    display: -ms-grid;
    display: grid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
}



nav a:hover {
    background-color: #ddd;
    color: #009afe;
}

@media only screen and (min-width: 1366px) {




nav{
flex-direction: row;
justify-content: space-around;
}






}
